html{
    scroll-behavior:smooth;
}



body{
    margin: 0px;
    background-color:  black;
    color: white;
    font-family:'Segoe UI';
}


section{
    margin: 0px;
    min-height: 60vh;
    padding: 80px 10%;
    box-sizing: border-box;
}

.home-section{
    background-image:url("forest.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content:center;
    align-items:center;
}

.home-section h1{
    -webkit-text-stroke: 1px black;
}

h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:40px;
    width: 78%;
    margin: 30px auto 10px auto;
    margin-top: -100px;
    text-align: center;
}


h2{
    font-size:3rem;
    color: white;
}

.about-container{
    display:flex;
    align-items: center;
    justify-content: center;

    gap:80px;

    width:80%;
    margin:60px auto;
}

.photo-wrapper{
    width: 350px;
    height: 350px;

    border-radius: 50%;
    overflow: hidden;

    border: 4px solid white;
    flex-shrink: 0;
}

.adrian{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -25%;
    transform: scale(1.10);
}

.about-text{
    max-width: 700px;
    text-align: left;
    font-size: 1.2rem;
    line-height:1.8;
}

.about-title{
    width:80%;
    margin: 0 0 30px 0;
    text-align: left;
    color: white;
    font-size: 3rem;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul{
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    list-style-type: none;
    background-color:transparent;
    padding: 30px;
    padding-left: 30px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.navbar a{
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

.navbar li{
    float: left;
}

.gallery-page .navbar a{
    color:white;
}

.portfolio-grid{
   
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

@media (max-width: 900px){
    .portfolio-grid{
        grid-template-columns: 1fr;
        height: auto;
    }
    .tile{
        height: 350px;
    }
}


.tile{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none;

    border: 20px solid black;
    overflow: hidden;
}

.tile::before{
    content:"";
    position:absolute;
    inset:0;

    background-size: cover;
    background-position: center;

    transition: transform 0.4s ease;
    z-index: 0;
}

.nature::before{
    background-image: url("riverwalk.png");
}

.cityscape::before{
    background-image: url("train.png");
}

.coming-soon::before{
    background-image: url("blurry.png");
}

.tile:hover::before{
    transform: scale(1.1);
}

.tile span{
    position: relative;
    z-index: 2;
    font-size: clamp(1.6rem, 3vw, 3rem);
    text-align: center;
    line-height: 1.1;
    padding: 10px;
    max-width: 90%;
    overflow-wrap: break-word;
}

.tile::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
}


/*Nature tab*/
.nature-title{
   width:80%;
   margin: 120px auto 20px auto;
   color: white;
   text-align: left;
   font-size: 3rem;
}

.nature-gallery{
    columns: 3 250px;
    column-gap: 15px;
    width: 80%;
    margin: 40px auto;
}

.nature-gallery img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 0;

    break-inside: avoid;
    display: block;
}

/*City tab*/
.city-title{
   width:80%;
   margin: 120px auto 20px auto;
   color: white;
   text-align: left;
   font-size: 3rem;
}



.city-gallery{
    columns: 3 250px;
    column-gap: 15px;
    width: 80%;
    margin: 40px auto;
}

.city-gallery img{
    width: 100%;
    margin-bottom: 15px;
    break-inside: avoid;
    display: block;
}

.city-gallery img.moonlight{
   height: auto;
   object-fit: contain;
}


/*contact*/

.contact-text{
    color:white;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.contact-form{
    width: 50%;
    margin: 0 auto 80px auto;

    display:flex;
    flex-direction:column;
    gap:18px;
}

.contact-form input,
.contact-form textarea{
    background-color: white;
    border: none;
    border-bottom: 1px solid white;

    color: black;
    padding: 12px;
    font-size: 1rem;
    outline: none;
}

.contact-form textarea{
    height: 150px;
    resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
    color: black;
}

.contact-form button{
    width: 150px;
    margin: 20px auto 0 auto;

    padding: 12px;
    background: white;
    color: black;
    border: none;

    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
}

.contact-form button:hover{
    background: #cccccc;
}

.fade-in{
    opacity: 0;
    transform: translateY(80px);
    transition: opacity 1.2s ease, transform 1.2s ease;
}

.fade-in.show{
    opacity:1;
    transform: translateY(0);
}

@media only screen and (max-width: 700px){

    section{
        margin: 0;
        padding: 60px 25px;
        min-height: auto;
    }

    .about-container{
        flex-direction: column;
        width: 100%;
        gap: 30px;
        text-align: center;
    }

    .about-text{
        text-align: center;
        font-size: 1rem;
    }

    .about-title{
        width: 100%;
        margin: 0 auto 20px auto;
        text-align: center;
        font-size: 3rem;
    }

    .about-section{
        text-align: center;
    }

    .photo-wrapper{
        width: 280px;
        height: 280px;
        margin: 0 auto;
    }

    .portfolio-grid{
        grid-template-columns: 1fr;
        width: 90%;
        height: auto;
    }

    .tile{
        height: 300px;
    }

    .contact-form{
        width: 90%;
    }

    .home-section{
        background-image: url("IMG_1806.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

}